# Machine-specific config files/dirs
bash/dot-bashrc-local
tmux/.config/tmux/tmux.local.conf
alacritty/.config/alacritty/local.toml
vim/dot-vimrc-local
nvim/.config/nvim/lua/local.lua

# notes and todos for use with shlf command
.shelf/

# theme config file
.theme

# tmux sessions setup
tmux/.config/tmux/sessions.sh
tmux/.config/tmux/tmux.sessions.conf
