# Machine-specific config files
dotfiles/bash/dot-bashrc-local
dotfiles/tmux/.config/tmux/tmux.local.conf
dotfiles/alacritty/.config/alacritty/local.toml
dotfiles/vim/dot-vimrc-local
dotfiles/nvim/.config/nvim/lua/local.lua

# Theme-specific config files
dotfiles/tmux/.config/tmux/tmux.colors.conf
dotfiles/alacritty/.config/alacritty/colors.toml
dotfiles/nvim/.config/nvim/colors/custom.vim

# notes and todos for use with shlf command
.shelf/

# tmux sessions setup
dotfiles/tmux/.config/tmux/sessions.sh
dotfiles/tmux/.config/tmux/tmux.sessions.conf
